
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: white;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
   display: flex; 
}
header{
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: 2.s;
   
}
header a:hover{
    color: black;
    transform: scale(1.05);
}
header nav ul{
    list-style-type: none;
   
}
header nav ul li{
    display: inline-block;
    padding: 0 40px ;
      
}
header .botao button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;

}
header .botao button:hover{
    box-shadow: 0px 0px 8px #00ff08;
}
section.topo-do-site{
    padding: 40px 4%;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
    color: black;
    font-size: 42px;
    line-height: 40px;
}
.topo-do-site .txt-topo-site p{
    color: black;
    margin: 40px  0px;

}
.topo-do-site .img-top-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}